@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

html, body {
  height: 100%;
  color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Forum', cursive;
}

#root {
  background: url('img/back.jpg') center center;
  background-size: cover;
  min-height: 100%;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home h1 {
  font-family: 'Forum', cursive;
  opacity: 22%;
  font-size: 15vw;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
